<!--DOCTYPE HTML-->
<html>
	<header>
		<meta charset ='utf8'></meta>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>
	</header>
	<body>
		<form>
			<p id='affichage'></p>
			<select name='colloc' id ='select'>
			</select>
			<input id='submit' type='button' value='afficher'>
			
		</form>
		<div id="mapid" style="height: 450px;"></div>
	</body>
	<script>
	var markers = [];
	var main = document.getElementById("affichage");
    	var selecteur = document.getElementById("select");
	var data_text = {{{appart}}};
	var data = JSON.parse(data_text);
	var st1 = L.icon({
    iconUrl: 'images/Statut1.png',
    iconSize:     [38, 42], // size of the icon
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});
var st2 = L.icon({
    iconUrl: 'images/Statut2.png',
    iconSize:     [38, 42], // size of the icon
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});
var st3 = L.icon({
    iconUrl: 'images/Statut3.png',
    iconSize:     [38, 42], // size of the icon
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});
var kro = L.icon({
    iconUrl: 'images/kro.png',
    iconSize:     [50, 54], // size of the icon
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});
	
	for (i=0;i<data.length;i++){
		var node = document.createElement("option");
		var texte = document.createTextNode(data[i]["Colloc"]);
		node.appendChild(texte);
		selecteur.appendChild(node);
	}
	var mymap = L.map('mapid').setView([47.2177422, -1.5593308999], 15);
	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoicm9iaW4tdHJvZXNjaCIsImEiOiJjam14aGFtdWIzaGw1M3BvZXdzN2E4OTd2In0.GEpXIj6HIbouU2_Bv29zTg', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 16,
    minZoom: 14,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1Ijoicm9iaW4tdHJvZXNjaCIsImEiOiJjam14aGFtdWIzaGw1M3BvZXdzN2E4OTd2In0.GEpXIj6HIbouU2_Bv29zTg'
}).addTo(mymap);
for (i=0;i<data.length;i++){
	if (data[i]["Statut"]==1){
		var marker = L.marker([data[i]["N"], data[i]["E"]],{icon: st1}).addTo(mymap);
		marker.bindPopup(data[i]["Colloc"]+"</br>Actuellement ouvert"+"</br>Hotes :"+data[i]["Habitants"]+"</br>Adresse :"+data[i]["Adresse"]+"</br>"+data[i]["Divers"]);
		markers.push([marker,data[i]["Colloc"]]);
	}
	if (data[i]["Statut"]==2){
		var marker = L.marker([data[i]["N"], data[i]["E"]],{icon: st2}).addTo(mymap);
		marker.bindPopup(data[i]["Colloc"]+"</br>Beaucoup de monde actuellement"+"</br>Hotes :"+data[i]["Habitants"]+"</br>Adresse :"+data[i]["Adresse"]+"</br>"+data[i]["Divers"]);
		markers.push([marker,data[i]["Colloc"]]);
	}
	if (data[i]["Statut"]==3){
		var marker = L.marker([data[i]["N"], data[i]["E"]],{icon: st3}).addTo(mymap);
		marker.bindPopup(data[i]["Colloc"]+"</br>Actuellement fermé"+"</br>Hotes :"+data[i]["Habitants"]+"</br>Adresse :"+data[i]["Adresse"]+"</br>"+data[i]["Divers"]);
		markers.push([marker,data[i]["Colloc"]]);
	}
	if (data[i]["Statut"]==4){
		var marker = L.marker([data[i]["N"], data[i]["E"]],{icon: kro}).addTo(mymap);
		marker.bindPopup(data[i]["Colloc"]+"</br>Actuellement en train de stackser.</br>Bières bienvenues."+"</br>Hotes :"+data[i]["Habitants"]+"</br>Adresse :"+data[i]["Adresse"]+"</br>"+data[i]["Divers"]);
		markers.push([marker,data[i]["Colloc"]]);
	}
}
var bt_afficher = document.getElementById("submit");
bt_afficher.addEventListener("click",function(){
	var selection = document.getElementById("select");
	var coloc_sel = selection.value;
	for (i=0;i<data.length;i++){
		if (data[i]["Colloc"]==coloc_sel){
			for (j=0;j<markers.length;j++){
				if (markers[j][1]==coloc_sel){
					var marker = markers[j][0];
				}
				
			}
			if (data[i]["Statut"]==1){
				main.innerHTML=data[i]["Colloc"]+"</br>Actuellement ouvert"+"</br>Hotes :"+data[i]["Habitants"]+"</br>Adresse :"+data[i]["Adresse"]+"</br>"+data[i]["Divers"];
				mymap.setView([data[i]["N"],data[i]["E"]],17);
				marker.openPopup();
			}
			if (data[i]["Statut"]==2){
				main.innerHTML=data[i]["Colloc"]+"</br>Actuellement beaucoup de monde"+"</br>Hotes :"+data[i]["Habitants"]+"</br>Adresse :"+data[i]["Adresse"]+"</br>"+data[i]["Divers"];
				mymap.setView([data[i]["N"],data[i]["E"]],17);
				marker.openPopup();
			}
			if (data[i]["Statut"]==3){
				main.innerHTML=data[i]["Colloc"]+"</br>Actuellement ferme"+"</br>Hotes :"+data[i]["Habitants"]+"</br>Adresse :"+data[i]["Adresse"]+"</br>"+data[i]["Divers"];
				mymap.setView([data[i]["N"],data[i]["E"]],17);
				marker.openPopup();
			}
			if (data[i]["Statut"]==4){
				main.innerHTML=data[i]["Colloc"]+"</br>Stacks en cours. Bieres bienvenues."+"</br>Hotes :"+data[i]["Habitants"]+"</br>Adresse :"+data[i]["Adresse"]+"</br>"+data[i]["Divers"];
				mymap.setView([data[i]["N"],data[i]["E"]],17);
				marker.openPopup();
			}
			if (data[i]["Statut"]==5){
				main.innerHTML=data[i]["Colloc"]+"</br>Fin de soiree.</br> Pensez a remercier vos hotes."+"</br>Hotes :"+data[i]["Habitants"];
			}
		}
		
	}
});
</script>
</html>
