<!--DOCTYPE HTML-->
<html>
	<head>
		<title>Generateur de Statuts de liste</title>
		<meta charset='UTF-8'>
	</head>
	<body >
		<h1>Informations obligatoires</h1>
		<form action='output.php' method='post'>
			
			Nom de la liste (utilisez votre fake nom)<input type='text' name ='association'></br>
			<h3>Adresse de la liste (Souvent chez le prez ou le trez)</h3>
			Numéro <input type='text' name='nasso'>Rue <input type='text' name='rasso'></br>
			Details (appart, rez ...) <input type='text' name='dasso'></br>
			Chez <input type='text' name='chezasso'></br>
			Code postal <input type='text' name='cpasso'> Ville<input type='text' name='vasso'></br>
			
			<h2>Informations sur la/le prez</h2>
			
			Nom <input type='text' name='nprez'></br>
			Prénom <input type='text' name='pprez'></br>
			
			
			<h3>Adresse</h3>
			
			Numéro <input type='text' name='nrprez'>Rue <input type='text' name='rprez'></br>
			Details (appart, rez ...) <input type='text' name='dprez'></br>
			Code postal <input type='text' name='cpprez'> Ville<input type='text' name='viprez'></br>
			
			<h2>Informations sur la/le vice prez 1</h2>
			
			Nom <input type='text' name='nvprez1'></br>
			Prénom <input type='text' name='pvprez1'></br>
			
			
			<h3>Adresse</h3>
			
			Numéro <input type='text' name='nrvprez1'>Rue <input type='text' name='rvprez1'></br>
			Details (appart, rez ...) <input type='text' name='dvprez1'></br>
			Code postal <input type='text' name='cpvprez1'> Ville<input type='text' name='vivprez1'></br>
			
			<h2>Informations sur la/le vice prez A</h2>
			
			<p>Si vous choissiez de n'avoir qu'un vp, laissez vide</p>
			Nom <input type='text' name='nvprez2'></br>
			Prénom <input type='text' name='pvprez2'></br>
			
			
			<h3>Adresse</h3>
			
			Numéro <input type='text' name='nrvprez2'>Rue <input type='text' name='rvprez2'></br>
			Details (appart, rez ...) <input type='text' name='dvprez2'></br>
			Code postal <input type='text' name='cpvprez2'> Ville<input type='text' name='vivprez2'></br>
			
			<h2>Informations sur la/le sec gen</h2>
			Nom <input type='text' name='nsecg'></br>
			Prénom <input type='text' name='psecg'></br>
			
			
			<h3>Adresse</h3>
			
			Numéro <input type='text' name='nrsecg'>Rue <input type='text' name='rsecg'></br>
			Details (appart, rez ...) <input type='text' name='dsecg'></br>
			Code postal <input type='text' name='cpsecg'> Ville<input type='text' name='visecg'></br>
			
			<h2>Informations sur la/le vice secretaire</h2>
			
			<p>Si pas de vice secretaire, laissez vide</p>
			Nom <input type='text' name='nvsecg'></br>
			Prénom <input type='text' name='pvsecg'></br>
			
			
			<h3>Adresse</h3>
			Numéro <input type='text' name='nrvsecg'>Rue <input type='text' name='rvsecg'></br>
			Details (appart, rez ...) <input type='text' name='dvsecg'></br>
			Code postal <input type='text' name='vpvsecg'> Ville<input type='text' name='vivsecg'></br>
			
			<h2>Informations sur la/le trez</h2>
			
			Nom <input type='text' name='ntrez'></br>
			Prénom <input type='text' name='ptrez'></br>
			
			
			<h3>Adresse</h3>
			
			Numéro <input type='text' name='nrtrez'>Rue <input type='text' name='rtrez'></br>
			Details (appart, rez ...) <input type='text' name='dtrez'></br>
			Code postal <input type='text' name='cptrez'> Ville<input type='text' name='vitrez'></br>
			
			<h2>Informations sur la/le vice tresorier</h2>
			Nom <input type='text' name='nvtrez'></br>
			Prénom <input type='text' name='pvtrez'></br>
			
			<h3>Adresse</h3>
			Numéro <input type='text' name='nrvtrez'>Rue <input type='text' name='rvtrez'></br>
			Details (appart, rez ...) <input type='text' name='dvtrez'></br>
			Code postal <input type='text' name='cpvtrez'> Ville<input type='text' name='vivtrez'></br>
			<input type='submit'>
		</form>
	</body>	
</html>
