<div class="text-center container-fluid">
    <h3 class="text-secondary" style="margin: 2em"> Oups ! Une erreur est survenue... :( </h3>
    <a class="btn btn-dark" href="/"> Retour à l'accueil </a>
</div>
