<div class="container-fluid wrapper" style="height:100%;position:absolute;bottom:0; left: 0; right: 0;">
    <section class="row text-center">
        <div class="col-12">
            <img src="/images/LogoAirFoxOne.png" width="300" height="300" class="img-fluid" alt="Logo Air Fox One">
            <h1>Cher premier année, ta nouvelle vie commence dans :</h1>
            <p id="demo"></p>

<script>
// Set the date we're counting down to
var countDownDate = new Date("Sep 4, 2018 8:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "jours " + hours + "heures "
  + minutes + "minutes " + seconds + "secondes ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "";
  }
}, 1000);
</script>
<p>Inscriptions à l'AECN par <a href ='https://www.helloasso.com/associations/association-des-etudiants-de-l-ecole-centrale-nantes/adhesions/adhesion-association-des-etudiants-de-centrale-nantes'> ici</a></p>
        </div>
    </section>

    <!--<h2 id="leaderBoardHeader" class="viga text-dark text-center">Leaderboard</h2>
    <div id="leaderBoard" class="container">
        <section class="row text-center">
            {{#each familles}}
                <div class="col-12 col-sm-6 col-md-3 famille">
                  <img src={{this.logo}} width="180" height="180" class="img-fluid rounded-circle" alt={{this.name}}>
                  <h4>{{this.name}}</h4>
                  <div class="text-muted">{{this.score}} points</div>
                </div>
            {{/each}}
        </section>
    </div>-->
</div>
