<div class="container-fluid wrapper">
    <section class="row text-center">
        <div class="col-12">
            <img src="/images/LogoAirFoxOne.png" width="300" height="300" class="img-fluid" alt="Logo Air Fox One"></img>
           
            <p id="demo"></p>
<h2>Appartathlon</h2>
<p>La carte accessible <a href='https://https://bdeecn.herokuapp.com/appartathlon'>ici </a></p>
<p>Modifier le statut de ma colloc <a href='https://bdeecn.herokuapp.com/appartathlon'>ici </a></p>

<p>Inscriptions à l'AECN par <a href ='https://www.helloasso.com/associations/association-des-etudiants-de-l-ecole-centrale-nantes/adhesions/adhesion-association-des-etudiants-de-centrale-nantes'> ici</a></p>
        </div>
    </section>

    <!--<h2 id="leaderBoardHeader" class="viga text-dark text-center">Leaderboard</h2>
    <div id="leaderBoard" class="container">
        <section class="row text-center">
            {{#each familles}}
                <div class="col-12 col-sm-6 col-md-3 famille">
                  <img src={{this.logo}} width="180" height="180" class="img-fluid rounded-circle" alt={{this.name}}>
                  <h4>{{this.name}}</h4>
                  <div class="text-muted">{{this.score}} points</div>
                </div>
            {{/each}}
        </section>
    </div>-->
</div>
