{{#if message}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      {{message}}
    </div>
{{/if}}

<form class="oxy adminForm col-6 col-sm-5 text-center container-fluid" action="/killer/instructions" method="post">
    <div class="form-group">
      <h3 class="viga" style="margin-bottom: 1em">Trouve ta cible !</h3>
    </div>
    <div class="form-group">
      <label for="inputId">Ton id</label>
      <input class="form-control form-control-sm" name="inputId" type="text" value="">
    </div>
    <input name="inputInstructions" class="btn btn-dark" type="submit" value="Valider">
</form>
