<div class="container-fluid wrapper oxy">
    <section class="row mx-auto">
        <table class="col-12 col-md-6 table table-bordered bg-light">
          <tbody>
            {{#each players.Dragonwing}}
                  {{#if this.dead}}
                  <tr class="table-danger" style="text-decoration: line-through;">
                  {{else if this.haskilled}}
                  <tr class="table-success">
                  {{else}}
                  <tr class="table">
                  {{/if}}
                    <td class="text-center">{{this.prenom}} {{this.nom}}</td>
                  </tr>
            {{/each}}
          </tbody>
        </table>
    </section>

</div>
