<div class="container-fluid wrapper oxy">
    {{#if message}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          {{message}}
        </div>
    {{/if}}
    {{#if err}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          {{err}}
        </div>
    {{/if}}

    <form id="formKill" class="oxy adminForm col-6 col-sm-5 text-center container-fluid" action="/killer/kill" method="post" style="margin-bottom: 13.4em">
        <div class="form-group">
          <h3 class="viga" style="margin-bottom: 1em">Déclarer un kill</h3>
        </div>
        <div class="form-group">
          <label for="inputKillerId">Ta clé (choisie à l'inscription)</label>
          <input class="form-control form-control-sm" name="inputKillerId" type="text" value="">
        </div>
        <div class="form-group">
          <label for="inputTargetId">La clé de ta cible</label>
          <input class="form-control form-control-sm" name="inputTargetId" type="text" value="">
        </div>
        <input name="inputKill" class="btn btn-dark" type="submit" value="Valider">
    </form>
</div>
