<div class="wrapper container-fluid">
    <p class="oxy text-center" style="margin-top: 1em; font-size: 1.14em">
      Si tu veux télécharger directement notre magnifique plaquette partenaires c'est <a href="../partenaires.pdf" download="Plaquette Partenaires">ici</a> !
    </p>
    <p class="oxy text-center" style="margin-top: 1em; font-size: 1.14em">
      Si tu as des questions, n’hésite pas à contacter notre super respo Aristarque de Maleissye par email : <span class="font-weight-bold">aristarque.demaleissye@eleves.ec-nantes.fr</span>
    </p>
    <section class="partenaires row text-center" style="margin: auto">
        {{#each partenaires}}
        <div class="partenaire col-12 col-md-6">
          <div class="card">
            <img class="img-fluid" src={{this.logo}} width="150" height="150" alt="Generic placeholder thumbnail" style="margin: auto">
            <div class="card-body">
              {{#if this.id}}
                <h4 class="card-title">{{this.id}}</h4>
              {{/if}}
              <p class="card-text">{{{this.description}}}</p>
              <a href={{this.link}} class="btn btn-dark" target="_blank">Informations</a>
            </div>
          </div>
        </div>
        {{/each}}
    </section>
</div>
