{{#if message}}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      {{message}}
    </div>
{{/if}}
<div class="container">
  <div class="row col-sm-6">
    <form method="POST" action="\SAT_inscriptions">
      <div class="form-group">
        <label for="email1">Adresse Mail Centrale</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
        <small id="emailHelp" class="form-text text-muted">Vous acceptez de recevoir votre code par mail.</small>
      </div>
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom">
      </div>
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prenom">
      </div>
      <div class="form-group">
        <label for="prenom">Votre nom de code</label>
        <small id="emailHelp" class="form-text text-muted">Votre nom d'agent secret</small>
        <input type="text" class="form-control" id="pseudo" name="pseudo" placeholder="007, Vegan, Raclette...">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
