{{#if message}}
    <div id="alertScore" class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      {{message}}
    </div>
{{/if}}
<div>
    <p>Connecté en tant que {{Colloc}}</p>
    <form class="oxy col-6 col-sm-3 text-center container-fluid" action="/updateAppartMo" method="post">
        <h3>Statut de la colloc</h3>
        <p>Ouverte</p><input id='statut1' type ='radio' name='statut' value='1'></br>
        <p>Beaucoup de monde</p><input id='statut2' type ='radio' name='statut' value='2'></br>
        <p>Fermée</p><input id='statut3' type ='radio' name='statut' value='3'></br>
        <p>Stacks en cours. Need beer</p><input id='statut4' type ='radio' name='statut' value='4'></br>
        <p>Fermer définitivement (disparaitre de la carte)</p><input id='statut5' type ='radio' name='statut' value='5'></br>
        <input id='horaires' type ='text' name ="horaires"></br>
        <input name="colloc" type="hidden" value="{{Colloc}}">
        <input name="submit" type="submit">
    </form>
</div>
<script>
var data = '{{{infos}}}';
var infos = JSON.parse(data);
horaires = document.getElementById('horaires');
horaires.value = infos["Statut"];
var statut = infos["Statut"];
if (statut ==1){
document.getElementById('statut1').checked = true;
}
if (statut ==2){
document.getElementById('statut2').checked = true;
}
if (statut ==3){
document.getElementById('statut3').checked = true;
}
if (statut ==4){
document.getElementById('statut4').checked = true;
}
if (statut ==5){
document.getElementById('statut5').checked = true;
}
</script>
